<html>
  <title>{{ title }}</title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.1/weui.min.css"/>
  </head>
  <body ontouchstart>
    <div class="page article js_show">
        <div class="page__hd">
            <h1 class="page__title">{{ title }}</h1>
        </div>
        <div class="page__bd">
            <article class="weui-article">
                <h1>{{ msg }}</h1>
            </article>
        </div>
    </div>
  </body>
</html>